---
home: true
bodyClasses: page-home
generatorGroups:
- items:
  - url: icons-launcher.html
    image: res/generator-thumbs/icons-launcher.svg
    title: 启动图标生成器
    description: 生成移动应用（App）的启动图标。

  - url: icons-app-shortcut.html
    image: res/generator-thumbs/icons-app-shortcut.svg
    title: 应用快捷图标生成哭
    description: 生成应用的快捷启动图标(适用于Android 7.1+)。

  - url: https://romannurik.github.io/AndroidIconAnimator/
    image: res/generator-thumbs/icon-animator.svg
    extraClasses: is-external
    title: 矢量图动画
    description: 创建矢量图动画。

  - url: icons-notification.html
    image: res/generator-thumbs/icons-notification.svg
    title: 通知栏图标生成器
    description:
      生成移动应用的通知图标。它们显示在系统状态栏和通知栏。

  - url: nine-patches.html
    image: res/generator-thumbs/nine-patches.svg
    title: 简单伸缩图生成器
    description:
      生成可伸缩图标(.9.png)，一般用于自定义组件。

  - url: icons-generic.html
    image: res/generator-thumbs/icons-generic.svg
    title: 通用图标生成器
    description:
      生成方形的图标，用于各种场景。

  - url: icons-actionbar.html
    image: res/generator-thumbs/icons-actionbar.svg
    title: 动作栏/标签页图标生成器
    description: 生成用于动作栏或标签页的图标。

---
{% extends '_base.html' %}

{% block header %}

{% endblock %}

{% block body %}
<div class="home-header">
  <div class="inner">
    <h1>图标工作室</h1>
    <p class="subtitle">
      免安装，在线即用的工具集，能生成安卓应用的资源图标。
    </p>
  </div>
</div>
{% for group in generatorGroups %}
<div class="home-generator-list">
  <div class="inner">
    {% if group.title %}<h2>{{ group.title }}</h2>{% endif %}
    {% for generator in group.items %}
    <a href="{{ generator.url }}"
       class="home-generator-card{% if generator.extraClasses %} {{ generator.extraClasses }}{% endif %}">
      <img class="generator-image" src="{{ generator.image }}" alt="{{ generator.title }}">
      <div class="generator-title">{{ generator.title }}</div>
      <div class="generator-description">{{ generator.description }}</div>
    </a>
    {% endfor %}
  </div>
</div>
{% endfor %}
<div class="home-footer">
  <div class="inner">
    由<a href="https://twitter.com/romannurik">Roman Nurik</a>创建，及<a href="https://github.com/lilac">简墨</a>翻译。
    <a target="_blank" class="external-link" href="http://blog.samemoment.com/">联系我</a>
  </div>
</div>
{% endblock %}
