---
title: 简单伸缩图生成器
intro:
    支持快速创建适应于各种屏幕密度的可伸缩图标。
bodyClasses: page-nine-patch-generator
---

{% extends '_generator-base.html' %}

{% block generator-body %}
<div class="inputs-panel">
  <div id="inputs-form"></div>
</div>
<div class="nine-patch-editor-area">
  <div class="stage-top-toolbar">
    <label class="field-label">编辑模式</label>
    <div class="stage-which form-field-buttonset">
      <input id="stage-stretch" name="stage-which" type="radio" value="stretch" checked><label for="stage-stretch">伸展区域</label>
      <input id="stage-padding" name="stage-which" type="radio" value="padding"><label for="stage-padding">内垫</label>
      <input id="stage-opticalbounds" name="stage-which" type="radio" value="opticalbounds"><label for="stage-opticalbounds">视觉边界<br></label>
    </div>
  </div>
  <div class="nine-patch-stage">
    <div class="stage-canvas-container">
      <div class="empty">
        拖或选一个源图片以开始。
      </div>
    </div>
  </div>
  <div class="stage-bottom-toolbar">
    <button class="form-field-button find-region-button editor-button" disabled>自动伸缩</button>
    <button class="form-field-button trim-button trim-edge-button">剪除边缘透明</button>
    <button class="form-field-button trim-button trim-stretch-button">剪除拉伸区域</button>
    <div class="flex"></div>
    <label class="field-label">亚光泽</label>
    <div class="stage-matte-color form-field-buttonset">
      <input id="matte-light" name="stage-matte-color" type="radio" value="light" checked><label for="matte-light">亮</label>
      <input id="matte-dark" name="stage-matte-color" type="radio" value="dark"><label for="matte-dark">暗</label>
    </div>
  </div>
</div>
<div class="outputs-preview-sidebar" data-view="preview">
  <div class="outputs-preview-tabs tabs">
    <input id="tab-preview" name="outputs-preview-tabs" type="radio" value="preview" checked><label for="tab-preview">预览</label>
    <input id="tab-outputs" name="outputs-preview-tabs" type="radio" value="output"><label for="tab-outputs">资源</label>
  </div>
  <button id="download-zip-button" class="fab-button">
    <i class="material-icons">file_download</i>
    <span class="tooltip">下载ZIP</span>
  </button>
  <div class="nine-patch-preview-area-container">
    <div class="preview-area">
      <label id="preview-with-content-container" class="checkbox">
        <input id="preview-with-content" type="checkbox">
        包含内容
      </label>
      <div class="preview-stage">
        <div>
          <canvas></canvas>
          <div class="text-preview">示例内容。Pellentesque auctor auctor purus, a iaculis neque pharetra in. Curabitur in eleifend erat, sit amet facilisis augue. In hendrerit lectus sit amet purus auctor, at condimentum arcu consectetur. Suspendisse nisl massa, condimentum sit amet luctus ut, euismod id lacus. Pellentesque pretium consectetur urna, non vehicula massa tincidunt in. Nam lacus ante, euismod vel purus eget, faucibus dapibus lectus. Sed mi augue, pulvinar in sodales a, laoreet suscipit magna. Maecenas mollis nisl a nisl auctor venenatis. Praesent id tempor nulla. Cras viverra vulputate ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="outputs-panel">
    <div class="outputs-items">
      <div class="outputs-main"></div>
      <div class="outputs-additional-toggle">查看全部</div>
      <div class="outputs-additional"></div>
    </div>
  </div>
</div>

<script>
new pages.NinePatchGenerator();
</script>
{% endblock %}
